{% extends 'main/layout.html' %}

{% block title %}Новости{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новые новости</h1>
        {% if news %}
            {% for el in news %}
                <div class="alert alert-danger">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.anons }}</p>
                    <a href="{% url 'news_detail' el.id %}" class="btn btn-danger">Читать</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Новостей пока нет</p>
        {% endif %}

        {# Коментарий #}
    </div>
{% endblock %}